body{
  overflow-x: hidden;
}

.custom-cursor {
    z-index: 100000;
    position: absolute;
    width: 40px; /* Set the size of the image */
    height: 40px; /* Set the size of the image */
    background-image: url('../images/MainLogo/Only\ BD\ logo-blue.png');  /* Path to your image */
    background-size: cover; /* Ensures the image covers the whole cursor area */
    pointer-events: none; /* Prevents the cursor from interacting with the elements */
    transform: translate(-50%, -50%); /* Centers the cursor */
    transition: transform 0.4s ease-out; /* Optional smooth transition for transform */
    margin-top: 10px;
    margin-left: 30px;
    box-shadow: 0 0 50px 5px var(--primary-color);
    border-radius: 50%;
    overflow-x: hidden;
    background-color: aliceblue;
    display: none;
  }
  @media only screen and (max-width: 700px) {
    .custom-cursor{
      display: none;
    }
  }