body.sidebar-open {
  overflow: hidden;
}

.Sidebar {
  position: fixed;
  height: 100vh;
  max-width: 700px;
  top: 0;
  right: 0;
  /* transform: translateX(100%); */
  align-items: center;
  display: flex;
  justify-content: space-between;
  transition: var(--transaction2);
  padding: 18px 10px;
  background-color: #00000000;

}

.ActiveSide {
  /* transform: translateX(0%); */
}

.sidebarin {
  background-color: var(--primary-colorbg);
  /* right: 0px; */
  width: 35rem;
  top: 0;
  height: 100%;
  padding: 15px;
  /* align-items: start; */
  justify-content: center;
  display: flex;
  box-shadow: 0 0 50px 3px rgba(0, 0, 0, 0.5);
  border-radius: 50px 0px 0px 50px;
  flex-direction: column;
  backdrop-filter: blur(40px);
}


.sidebarin .Sidebarcontent p {
  /* padding-left: 20px; */
  /* font-size: 12px; */
  /* font-family: var(--text-heading2); */
}

.sidebarin .Sidebarcontent h5 {
  /* padding-left: 20px; */
  /* font-size: 12px; */
  /* font-family: var(--text-heading2); */
}

.sidebarin .Sidebarcontent h2 {
  color: var(--primary-color);
}

.sidebarin .Sidebarcontent h1 {
  font-family: var(--text-heading3);
  color: var(--primary-color);
}

.close-btn {
  padding: 12px;
  background-color: #000000;
  margin: 15px;
  border-radius: 50%;
  box-shadow: 0 0 20px 3px rgba(0, 162, 255, 0.69);
  cursor: pointer;
  display: block;
  border: 1px solid var(--primary-color);
}

@media only screen and (max-width: 480px) {
  .close-btn {
    padding: 12px;
    background-color: #000000;
    margin: 15px;
    border-radius: 50%;
    box-shadow: 0 0 20px 3px rgba(255, 255, 255, 0.69);
    cursor: pointer;
    display: none;
  }

  .sidebarin .Sidebarcontent p {
    font-size: 12px;
  }
}


.sidebarbak {
  background-color: #000000d0;
  width: 100%;
  right: 0px;
  top: 0;
  position: absolute;
  height: 100vh;
  transition: var(--transaction1);
  display: flex;
  align-items: center;
  overflow-x: hidden;

  /* backdrop-filter: blur(3px); */
}

.ActiveSide1 {
  /* right: 0%; */
}







/* nav button styling */


.ant-dropdown-menu {
  text-decoration: none !important;
  width: 180px;
}

.ant-space-item a {
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  font-family: var(--text-heading2);
  padding: 0px 15px;
  color: aliceblue;
}


.ant-dropdown-menu-title-content a {
  text-decoration: none !important;
}

.ant-dropdown-menu {
  text-decoration: none !important;
  width: 180px;
}


.side-navigation {
  display: none;
}

.navigation-links {
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  gap: 12px;
  /* background-color: var(--primary-color); */
  border-radius: 10px;
  /* box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);  */
  margin-bottom: 10px;
}

.navigation-links .menu-item {
  text-decoration: none;
  color: aliceblue;
  padding: 0px 16px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 4px;
  transition: all 0.3s ease;
  font-family: var(--text-heading2);
  font-weight: 600;
}

.menu-item:hover {}

/* Services dropdown styles */
.services-dropdown {
  position: relative;
  transition: height 0.4s ease-out;
  /* Smooth transition for height */
}

.services-dropdown.expanded {
  height: auto;
  /* Expand the height when submenu is visible */
}

.submenu {
  height: 0;
  /* Initially hidden */
  overflow: hidden;
  /* Hide overflow content */
  opacity: 0;
  transition: height 0.4s ease-out, opacity 0.4s ease-out;
  /* Smooth transition */
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--primary-color);
  width: 100%;
  border-top: none;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);

}

.submenu.visible {
  height: auto;
  /* Allow height to auto-expand */
  opacity: 1;
}

.submenu-item {
  text-decoration: none;
  color: aliceblue;
  font-family: var(--text-heading2);
  padding: 8px 16px;
  display: block;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.submenu-item:hover {
  background-color: #000000;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .side-navigation {
    display: block;
  }

  .menu-item {
    font-size: 16px;
  }

  .submenu-item {
    font-size: 14px;
  }
}


.services-dropdown.expanded {
  height: auto;
  /* Expand the height when submenu is visible */
}

.submenu {
  height: 0;
  opacity: 0;
  transition: height 0.4s ease-out, opacity 0.4s ease-out;
}

.submenu.visible {
  height: auto;
  opacity: 1;
}