/* Hero */

.hero {
    background-color: #ffcfcf;
    background: var(--backgroundimage);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: var(--borderradiushero);
}

.heroimg {
    display: block;
}

.hero-comp {
  min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}

.hero-comp .hero-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    text-align: start;
}

.hero-comp .hero-text h3 {
    font-size: 50px;
    font-weight: 900;
    color: var(--primary-color);
    font-family: var(--text-heading3);
    text-transform: uppercase;
}

.hero-comp .hero-text h1 {
    font-size: 30px;
    color: aliceblue;
    font-family: var(--text-heading2);
}

.hero-comp .hero-text h2 {
    font-size: 40px;
    color: rgb(0, 195, 255);
    font-family: var(--text-heading3);
    text-transform: uppercase;
    font-weight: 900;
}



@keyframes changetext {
    0% {
        content: "Digitizing";
    }

    14.28% {
        content: "Patches";
    }

    28.57% {
        content: "Vector";
    }

    42.85% {
        content: "Hoodies";
    }

    57.14% {
        content: "Sweat Shirts";
    }

    71.42% {
        content: "Crewnecks";
    }

    85.71% {
        content: "Caps";
    }

    100% {
        content: "Digitizing";
    }
}




/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 1024px) {}

/* Small devices (phones, 600px and up) */
@media only screen and (max-width: 800px) {

    .hero-image {
        width: 300px;
        display: none;
    }

    .heroimg {
        display: none;
    }

    .hero-comp {
        justify-content: center;
        padding: 150px 0px;
    }

    .hero-comp .hero-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    .hero-comp .hero-text h3 {
        font-size: 50px;
        text-transform: none;
    }
    .hero-comp .hero-text h2 {
        font-size: 30px;
        color: rgb(0, 195, 255);
        font-family: var(--text-heading3);
        text-transform: uppercase;
        font-weight: 900;
    }

}

/* Extra small devices (phones, 480px and up) */
@media only screen and (max-width: 480px) {

    .hero-comp {
        padding: 0px 0px;
    }

    .hero-comp .hero-text h3 {
        font-size: 60px;
        color: var(--primary-color);
        padding-top: 10px;
    }

    .hero-comp .hero-text h1 {
        font-size: 30px;
        

    }
    .hero-comp .hero-text h2{
        height: 50px;
    }
}