.ServicesDetailcard {
  margin: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}


.ServicesDetailcard .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    text-align: center;
    /* transition: 0.3s ease all; */
    /* transition: transform 0.3s ease all , background-color 0.3s ease all; */
    position: relative; 
    cursor: pointer;
    /* background:  */
    /* linear-gradient(to Top, var(--primary-color), rgb(0, 195, 255)); */
    background-color: var(--primary-color);
    backdrop-filter: var(--backdrop-filter);
  }

  .servicedesc{
    background-color: var(--primary-color);
    margin: 0px  3px;
    border-radius: 3px; 
  }
  .servicedesc .sDescImg {
    width: 100%; /* Adjust as per layout */
    height: 100%;
    overflow: hidden; /* Prevent overflow */
    background-color: black;
    padding: 40px;

  }
  .servicedesc .sDescImg img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio */
  }
  .servicedesc .sDescImg img{
    width: 100%;
    height: 100%;
  }
  .servicedesc .sDesctext h1{ 
    font-family: var(--text-heading3);
    font-weight: 700;
    color: aliceblue;
  }
  .servicedesc .sDesctext{
    color: aliceblue;
    font-family: var(--text-heading2);
    padding: 35px;
  }


  /* For smaller screens (mobile-first) */
  @media (max-width: 600px) {
    .ServicesDetailcard .card {
      width: 100%;
    }
    .ServicesDetailcard{
      gap: 10px;
    }
    .servicedesc .sDesctext{
      color: aliceblue;
      
      padding: 30px 12px;
    }.servicedesc .sDescImg{
      padding: 22px;
    }
 
  }
  
  /* For medium screens (tablets, small laptops) */
  @media (min-width: 601px) and (max-width: 1024px) {
    .ServicesDetailcard .card {
      width: 45%; /* Two cards in a row */
    }
    
  }
  
  /* For larger screens */
  @media (min-width: 1025px) {
    .ServicesDetailcard .card {
      width: 30rem; /* Default width for larger screens */
    }
   
  }

  .card:hover {
  /* transform: scale(1.05); */
  /* background-color: var(--primary-colorbg); */
  /* border-radius:var(--borderradiusCard); */
}

/* Changing the text color on hover */
.card h2 {
  font-family: var(--text-heading2);
  font-weight: 600;
}

.card h3,
.card p {
  transition: color 0.3s ease;
  ;
}

.card:hover h3,
.card:hover p {
  color: black;
}

.card h3 {
  font-size: 1.5rem;
color: aliceblue;
  font-family: var(--text-heading2);
  font-weight: 600;
}

.card p {
  font-size: 1rem;
  color: aliceblue;
  margin-top: 10px;
}