.ServicesDetailcard {
  margin: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}


.ServicesDetailcard .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    position: relative; 
    cursor: pointer;
    background-color: var(--primary-colorbg);
    backdrop-filter: var(--backdrop-filter);
  }

  /* For smaller screens (mobile-first) */
  @media (max-width: 600px) {
    .ServicesDetailcard .card {
      width: 48%;
    }
    .ServicesDetailcard{
      gap: 10px;
    }
 
  }
  
  /* For medium screens (tablets, small laptops) */
  @media (min-width: 601px) and (max-width: 1024px) {
    .ServicesDetailcard .card {
      width: 45%; /* Two cards in a row */
    }
    
  }
  
  /* For larger screens */
  @media (min-width: 1025px) {
    .ServicesDetailcard .card {
      width: 30rem; /* Default width for larger screens */
    }
   
  }

  .card:hover {
  transform: scale(1.03);
  background-color: var(--primary-color);
}

/* Changing the text color on hover */
.card h2 {
  font-family: var(--text-heading2);
  font-weight: 600;
}

.card h3,
.card p {
  transition: color 0.3s ease;
  ;
}

.card:hover h3,
.card:hover p {
  color: white;
  /* Text color changes to white on hover */
}

.card h3 {
  font-size: 1.5rem;
  color: #333;
  font-family: var(--text-heading2);
  font-weight: 600;
}

.card p {
  font-size: 1rem;
  color: #222222;
  margin-top: 10px;
}