
@font-face {
  font-family: 'MyCustomFont';
  src: url('./Fonts/Batangas\ Bold\ 700.otf') format('opentype'); /* You can use 'opentype' for .otf files */
  font-weight: normal;
  font-style: normal;
}


:root {
  --primary-color: #0091d4;
  --primary-colorbg: #0061a24d;
  --secondary-color: #52cc47ec;
  --text-heading2: "Montserrat Alternates", serif;
  /* --text-heading3: "Montserrat Alternates", serif; */
  --text-heading3: 'MyCustomFont', serif;
  --text-heading: "Orbitron", serif;
  --transaction1: right 0.3s ease;
  --transaction2: 0.3s;
  --backgroundimage:
    linear-gradient(to Top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.712)),
    /* Gradient */
    url('./images/footer/backimg.jpg');
  --borderradius: 5px 100px 5px 100px;
  --borderradius2: 100px 5px 100px 5px;
  --borderradiushero: 0px 5px 150px 5px;
  --borderradiusCard: 5px 60px 5px 60px;
  --backdrop-filter: blur(20px);
}



/* BODY */
body {
  position: relative; /* Make sure the pseudo-element is positioned correctly */
  background-image: url(./images/MainLogo/Only\ BD\ logo-blue\ low\ opacity.png);
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

}

body::after {
 
}


body::-webkit-scrollbar {
  width: 2px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.452);
}

.section-padding {
  padding: 100px 50px;
}
.mainButton {
  background-color: black;
  /* border-radius: 10px; */
  font-weight: 800;
  font-size: 17px;
  cursor: pointer;
  padding: 5px;
  color: var(--primary-color);
  width: 200px;
  text-align: center;
  margin-top: 50px;
  box-shadow: 0 0 30px 3px rgba(0, 132, 255, 0.397);
  border: 2px solid var(--primary-color);
}

.buttonLink {
  text-decoration: none;
  color: var(--primary-color);
  display: block; /* This ensures the link takes up the full button area */
  width: 100%;
  height: 100%;
  line-height: 40px; /* Vertically centers the text */
  text-align: center;
  letter-spacing: 1px;
}


.mainButton2 { 
  background-color: black;
  border-radius: 10px;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer; 
  padding: 10px;  
  color: var(--primary-color); 
  width: 200px; 
  text-align: center; 
  margin-top: 50px; 
  box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.397);
}
.mainButton2  a{
  text-decoration: none;
  color: var(--primary-color);
}
/* ant design colors work */

.ant-menu-title-content a{
  text-decoration: none;
}

.MuiButtonBase-root {
  background-color: var(--primary-color) !important;
}

.MuiButton-contained {
  background-color: var(--primary-color);
}

.MuiButton-containedPrimary {
  background-color: var(--primary-color);
}

.css-1sminpg-MuiButtonBase-root-MuiButton-root {
  background-color: var(--primary-color);
}

.ant-segmented-item-selected {
  background: var(--primary-color);
}

.ant-segmented {
  background-color: var(--primary-color);
  color: aliceblue;
}

.ant-segmented {
  border-radius: 0px;
}

.ant-menu-horizontal {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

/* portfolio Images */
.ant-image {
  width: 250px !important;
}
.ant-image-preview-mask{
  z-index: 1045 !important;
}

.ant-image-preview-wrap{
  z-index: 1046 !important;
}



/* HEAD */
.headupper1 {
  height: 50px;
}

.headUpper {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.headicon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  font-size: 25px;
  gap: 15px;
  cursor: pointer;
}

.head-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.head-item-img {
  width: 9rem;
}
.head {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  background-color: #ffffff9a;
  top: 0px;
  right: 0px;
  position: sticky;
  z-index: 1000;
  backdrop-filter: blur(25px);
  border-radius: 0px 0px 70px 0px;
}

.subManu {
  font-weight: 700;
}

.head-menu {
  min-width: 615px;
  font-weight: 700;
}

.head-menu a {
  text-decoration: none;
}

.humburger {
  cursor: pointer;
  z-index: 1000000;
}






/* fOOTER */

.footer {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.555) 30%, rgba(0, 6, 10, 0.952)),url('../src/images/footer/backimg.jpg');
  background-size:cover;
  background-position: Bottom;
  overflow: hidden;
  border-radius: 100px 0px 0px 0px;
  padding: 10px;
}

.f-line{
   border-top: 1px solid white;
   text-align: end;
   color: white;
   padding: 15px 0px;
}

.footer-QuickLinks h6 a{
  text-decoration: none;
  list-style: none;
  color:whitesmoke;
  font-family: var(--text-heading2);
  transition: 0.2s ease all;
}
.itemsCol{
  padding-top: 80px;
  padding-bottom: 20px;
}


.footer .iconcol{
  color: white;
}

.footer .itemsCol h3{
  color: white;
  font-weight: 600;
  font-family: var(--text-heading3);
}
.footer-QuickLinks{
  padding-left: 30px;
}

.footer-QuickLinks .footerLinks {
  padding-left: 15px;
}

.footer-QuickLinks .AddressLinks{
  padding-left: 0px;
  padding-top: 20px;
}

.footer-QuickLinks .AddressLinks h6{
  color: white;
  padding-left: 5px;
  font-family: var(--text-heading2);
  
}
.footer-QuickLinks .AddressLinks h4{
  color: var(--primary-color);
}
.footer-QuickLinks h6 a:hover{
  color: var(--primary-color);
}



.itemsCol .About-footer p{
  color: white;
  font-family: var(--text-heading2);
  padding-top: 20px;
}

.itemsCol .About-footer h1{
  color: var(--primary-color);
  font-family: var(--text-heading3);
  font-weight: 700;
}

/* ContactForm */
.cccc{
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.027);
  border-radius: var(--borderradius);
  backdrop-filter: var(--backdrop-filter);
  margin: 20px;
}
.ContactForm {
  align-items: center;
  justify-content: center;
  transition: 0.3s ease all;
}

.ContactForm h3 {
  font-family: var(--text-heading2);
}

.ContactForm .cformimg {
  padding: 30px 10px;
  max-width: 700px;
  
}
.ContactForm .cformimg p{
  font-weight: 500;
}


.ContactForm .cformimg img {
  width: 100%;
}

.cform {
  max-width: 478px;
  padding: 50px 35px;
  border-radius: var(--borderradius);
  background-color: #000000;
}

.cform h2 {
  font-family: var(--text-heading2);
  font-weight: 600;
  color: var(--primary-color);
}

.iconcol {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}






/* icon */

.icons {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  justify-content: end;
}

.icons .ibtn a {
  color: var(--primary-color);

  cursor: pointer;
  font-size: 35px;
  text-align: center;
  justify-content: center;
  display: flex;
  border-radius: 10px;
}
/* 
.icons .ibtn a:hover{
  color: var(--primary-colorbg);
} */


/* 
.icons .ibtn:hover {
  transform: scale(1.8);
} */


.iconcol {
  display: flex;
  align-items: center;
}






/* PORTFOLIO */
.portfolio1 h1 {
  font-weight: 800;
  padding-bottom: 70px;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio .segment {
  max-width: 800px;
  font-weight: 600;
}

.portfolio-image {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  max-width: 900px;
}

.portfolio-image {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 900px;
}


.portfolio-image-div {}

.portfolio-Item {
  margin: 20px 0px;
}

.ant-image {
  width: 25% !important; 
}

.portfolio_select_item{
  display: flex;
  /* background-color: #0091d4; */
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 13px;
  color: black;
  /* font-family: var(--text-heading2); */
  text-transform: uppercase; 
  margin-bottom: 10px;
}
.portfolio_select_item p{
  font-weight: 500;
  cursor:pointer;
  margin-bottom: 0px;
}
.portfolio_select_item .active{
  color:var(--primary-color);
}
/* .segment{
  display: flex;
} */





/* heroother */
.heroother {
  background-color: #ffcfcf;
  background: var(--backgroundimage);
  background-size: cover;
  background-position: center;
  color: aliceblue;
  padding: 180px 0px;
  font-family: var(--text-heading3);
  border-radius: var(--borderradiushero);
  /* margin: 0px 20px; */
  text-align: center;
  margin-bottom: 20px;
}

.heroother h1 {
  font-weight: 700;
  color: var(--primary-color);
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 3px;
}








/* About */
.about {
  background-color: var(--primary-colorbg);
  border-radius: var(--borderradius);
  margin: 20px;
  overflow: hidden;
}

.about-text {
  padding-right: 200px;
}

.aboutSec {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: var(--text-heading2);
}

.about-image-sec {
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  justify-content: center;
}

.about-image-sec .about-image {
  animation: hover 5s infinite;
  width: 400px;
  box-sizing: border-box;
}

/* Component Headings */

.component-heading {
  font-family: var(--text-heading3);
  padding-bottom: 10px;
}

.component-heading h1 {
  font-weight: 800;
  font-size: 50px;
  color: var(--primary-color);
}

/* PROCESS */
.Process{
  background-color: rgba(0, 0, 0, 0.027);
  border-radius: var(--borderradius2);
  backdrop-filter: var(--backdrop-filter);
  margin: 20px;
}
.process-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 30px;
  
}

.process-card{
  width: 18rem;
  height: 25rem;
  border-radius: 30px;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.137);
  text-align: center;
  /* border-top: 1px solid var(--primary-color);
  border-left: 1px solid var(--primary-color); */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  padding: 20px;
  transition: 0.3s ease all;
  cursor: pointer;
}


.process-csrd-logo{
  /* background-color: red; */
  height: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items:end;
}

.process-card h1{
  font-size: 70px;

}
/* SERVICE */
.ServiceSec {
  width: 100%;
}

.ServiceSecContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 0px;
  gap: 25px;
}

.sCard a{
  text-decoration: none;
}

.sCard {
  backdrop-filter: var(--backdrop-filter);
  border-radius: var(--borderradiusCard);
  cursor: pointer;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.137);
  width: 19rem;
  height: 15rem;
  /* background-color: white; */
}
.sCard .ServiceSecCard{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 25px;
  color: #000000;
  gap: 5px;
}

/* .sCard .ServiceSecCard .buttom{
  text-align: right;
  width: 100%;
  color: red;
  position: relative;
}
.sCard .ServiceSecCard .buttom h6{
  transform: translateX(50%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.sCard .ServiceSecCard:hover .buttom .h6{
  opacity: 1;
  transform: translateX(0);
  
} */
.sCard .ServiceSecCard .buttom {
  text-align: right;
  width: 100%;
  color: aliceblue;
  position: relative; /* Needed to position the h6 element properly */
}

.sCard .ServiceSecCard .buttom h6 {
  transform: translateX(20%); /* Initially, place the text out of view */
  opacity: 0; /* Initially hidden */
  transition: transform 0.5s ease, opacity 0.5s ease; /* Smooth transition */
  color: aliceblue;
}

.sCard .ServiceSecCard:hover .buttom h6 {
  opacity: 1; /* Make text visible */
  transform: translateX(0); /* Slide text into position */
}

.sCard .ServiceSecCard h4{
  color: var(--primary-color);
  margin: 0px;
}

.sCard .ServiceSecCard p{
  display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;

}

.ServiceSecCard:hover h4{
  color: black;
}

.ServiceSecCard:hover p{
  color: aliceblue;
}
.service_icon img{
  width: 75%;
}
.service_icon{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 60px;
  height: 60px;
  padding: 7px;
  text-align: center;
  border-radius: 50%;
  font-size: 28px;
}
/* For smaller screens (mobile-first) */
@media (max-width: 800px) {
  .sCard {
    width: 100%;
  }
  .ServiceSecContainer{
    gap: 7px;
  }

  /* POrtfolio */
  .ant-image {
    width: 48% !important; 
  }
  .portfolio-image{
    gap: 10px;
  }
  .segment {
    overflow: scroll;
    width: 335px;
  }
}

/* For medium screens (tablets, small laptops) */
@media (min-width: 601px) and (max-width: 1024px) {
  .sCard {
    width: 45%; /* Two cards in a row */
  }
  .ant-image {
    width: 30% !important; /* Image size for medium screens */
  }
}

/* For larger screens */
@media (min-width: 1025px) {
  .sCard {
    width: 19rem; /* Default width for larger screens */
  }
  .ant-image {
    width: 26% !important; 
  }
}


/* 
.ServiceSecCard:hover {

  box-shadow: 0px 4px 15px 10px rgba(0, 0, 0, 0.2);
} */

/* sec1 */

/* .sec1 {
  background-image: url(./images/images/adrien-olichon-X8o-P23flgI-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 300px;
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
} */





@keyframes heroZoom {
  0% {
    background-size: 100%;
  }

  50% {
    background-size: 110%;
  }

  100% {
    background-size: 100%;
  }

}








@keyframes hover {
  0% {
    transform: translateY(0px) scale(1) rotate(0deg);
  }

  30% {
    transform: translateY(-10px) scale(1.05) rotate(-5deg);
  }

  50% {
    transform: translateY(20px) scale(1.1) rotate(5deg);
  }

  70% {
    transform: translateY(-10px) scale(1.05) rotate(-5deg);
  }

  100% {
    transform: translateY(0px) scale(1) rotate(0deg);
  }
}





/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 1024px) {
  .head-menu {
    min-width: 400px;
  }


  .about-text {
    padding-right: 50px;
  }

}

/* Small devices (phones, 600px and up) */
@media only screen and (max-width: 800px) {
  .head-menu {
    min-width: 160px;
  }
  .Sidebar {
    width: 100%;
  }

  .about-text {
    padding-right: 0px;
  }

  .about-image-sec {
    padding-top: 70px;

  }
  .humburger {
    cursor: pointer;
    position: relative;
    z-index: 1000000;
  }
  .footer-QuickLinks{
    margin-bottom: 40px;
    padding-left: 0px;

  }
  .About-footer{
    margin-bottom: 40px;
  }
  .footerLinks{
    border-bottom: 1px solid white;
    padding-bottom: 15px;
  }
  

}

/* Extra small devices (phones, 480px and up) */
@media only screen and (max-width: 480px) {
  .f-line{
    font-size: 10px;
  }
  .itemsCol{
    padding : 80px  0px 0px 0px;
  }
  .section-padding {
    padding: 100px 10px;
  }


  .component-heading {
    padding-bottom: 10px;
  }
  
  .component-heading h1 {
    font-weight: 800;
    font-size: 30px;
    color: var(--primary-color);
  }
  /*  */

  .heroother{
    padding: 150px 0px;
  }
  .heroother h1 {
    font-weight: 700;
    color: var(--primary-color);
    font-size: 35px;
    text-transform: uppercase;
  }

  /*  */
  .head {
    margin: 0px;
  }

  .about{
    margin: 20px 3px; 
  }
  .cccc{
    margin: 20px 3px; 
  }
  .Process{
    margin: 20px 3px;
  }

  .about-image-sec {
    padding-top: 50px;
  }

  .Sidebar {
    width: 100%;
  }

  .sidebarin {
    padding: 10px;
  }

  .cform {
    padding: 50px 25px;
  }

 

}






.sampleDIv {
  background-color: red;
  width: 200px !important;
  height: 200px;
  transition: 0.3s;
}

.sampleDIv:hover {
  width: 500px;
  height: 500px;
}