/* Base nav styles */
.helo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.5s ease;
    background-color: rgba(44, 0, 0, 0);
    z-index: 1000;
    color: aliceblue;
  }
  
  .helo.scrolled {
    background-color: rgba(255, 255, 255, 0.61);
    backdrop-filter: blur(20px);
    padding: 0px;
    box-shadow: 0 0 50px 3px rgba(0, 0, 0, 0.5);
  }

  
  .helo .logo {
    background-image: url(../../images/MainLogo/Untitled-1.webp);
    width: 205px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  
  .helo.scrolled .logo {
    background-image: url(../../images/MainLogo/Untitled-2.webp);
  }
  
  .head-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    transition: 0.5s ease all;
  }
.helo.scrolled .head-item{
  height: 90px;
}
  
  .Nav-buttons{
    display: block;
    font-weight: 500;
    /* font-family: var(--text-heading2); */
  }
 .ant-space-item{
  color: white;
  padding-bottom: 2px !important;
 }

 .helo.scrolled .ant-space-item{
  color: black;
 }
  .helo.scrolled .nav-links{
    color: black;
  }

  .helo .nav-links Space{
    color: aliceblue !important;
  }

  .ant-dropdown-menu-title-content a{
    text-decoration: none !important;
  }
  .ant-dropdown-menu{
    text-decoration: none !important;
    width: 180px;
  }
  .nav-links {
    display: flex;

  }
  
  .nav-links .main-menu {
    color: aliceblue;
    text-decoration: none;
    font-size: 17px;
    padding: 0px 20px;
    transition: color 0.3s ease;
    text-transform: uppercase;
    font-family: var(--text-heading1);
    /* padding-bottom: 7px; */
  }

  
  .helo.scrolled .nav-links .main-menu {
    color: rgb(0, 0, 0);
  }
  .main-menu.active {
    color: var(--primary-color); /* You can replace this with any color you want */
  }

  .helo.scrolled .main-menu.active {
    color: var(--primary-color); /* You can replace this with any color you want */
  }
  
  .nav-links a:hover {
    color: var(--primary-color);
  }
  
  /* Services sub-menu styles */
  .services-link {
    position: relative;  
    height: 100%;
  }

  
  .services-link .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(240, 248, 255, 0.808);
    backdrop-filter: blur(25px);
    padding: 10px 0;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    min-width: 225px;
    border-radius: 10px;
    padding: 5px;
  }
  
  .services-link:hover .sub-menu {
    display: block;
    opacity: 1;
    backdrop-filter: blur(25px);
  }
  
  .sub-menu a {
    color: var(--primary-color);
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  .sub-menu a:hover {
    background-color:var(--primary-colorbg);
  }
  
  @media only screen and (max-width: 800px) {
    .Nav-buttons{
      display: none;
    }
    .head-item{
      height: 80px;
    }
    .helo.scrolled .head-item{
      height: 80px;
    }
  }

  
  
  
  