.client-reviews {

  background-color: var(--primary-colorbg);
  border-radius: var(--borderradius2);
  /* backdrop-filter: var(--backdrop-filter); */
  margin: 20px;
    overflow: hidden; 
}

.review-slide {
  /* padding: 20px; */
  /* background-color: aliceblue; */
  backdrop-filter: blur(50px);
  border-radius: 10px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  background-color: var(--primary-color);
  /* background-color: aliceblue; */
  align-items: center;
}

.client-img-bx{
  padding: 20px;
  /* border-radius: 50%; */
  box-sizing: border-box;
  /* position: relative; */
}
.client-img-bx img{
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3); 
  border-radius: 10%;
}
.client-text{
  /* background-color: antiquewhite; */
  padding: 25px 20px;
  font-family: var(--text-heading2);
  border-left: 3px solid black;
}
.review-text {
  font-size: 1.1em;
  color: #000000;
  /* text-align: center; */
}

.review-text span{
  
}

.reviewer-name {
  font-size: 1.5em;
  font-weight: bold;
}

.review-rating {
  font-size: 1em;
  color: black;
  font-weight: 400;
}

.slick-prev,
.slick-next {
  color: #000;
   
  /* Arrow color */
}

.slick-prev {
  left: -40px;
}

.slick-next {
  right: -40px;
}

@media only screen and (max-width: 480px) {

  .client-reviews {
    margin: 20px 3px; 
  }
  .client-text{
    /* background-color: antiquewhite; */
    padding: 25px 20px;
    font-family: var(--text-heading2);
    border-left: 0px;
  }
  
}